/nbproject/**
/vendor/
/tmp/
/composer.lock
/app/config/secrets.xml
/app/views/generated/
/web_repos/font/glyphicons_free/
/web_repos/font/__MACOSX/
/archive/
/clear.sh
**/secrets.xml
**/.secrets.xml
**/views/generated/**
**/tmp/**
**/dbinit/**
/chimpv3/
/scratch/
**/schema/
